
<mat-toolbar class="tool_bar" color="primary">
    <span routerLink="/">Kursbuch</span>
    <div class="spacer"></div>
    <nav>
        <a routerLink="/" class="button">Home</a>
    </nav>
    @if (authService.TOKEN) {
        <a (click)="logout()" class="button"> Logout {{uname}} </a>
        <a (click)="test()" class="button"> Test {{uname}} </a>
    }
    @else {
        <a routerLink="/login" class="button"> Login </a>
        <a routerLink="/signup" class="button"> Sign up </a>
    }
    
    
</mat-toolbar>

<!-- Main Content -->
<div class="content" role="main">
    <router-outlet></router-outlet>
</div>