
<mat-toolbar class="tool_bar" color="primary">
    <span class="home button" routerLink="/">Kursbuch</span>
    <div class="spacer"></div>
    <nav>    
        @if (authService.loggedInAs) {
            <span (click)="logout()" class="button"> Logout {{authService.loggedInAs}} </span>
        }
        @else {
            <span routerLink="/login" class="button"> Anmelden </span>
            <span routerLink="/signup" class="button"> Registrieren </span>
        }
    </nav>
    
    
</mat-toolbar>

<!-- Main Content -->
<div class="content" role="main">
    <router-outlet></router-outlet>
</div>