
<Form (ngSubmit)="signup()" [formGroup]="signupForm" class="form">
    <mat-form-field  class="input">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username"  placeholder="mmustermann" type="text">
        <mat-error>{{getError(signupForm.controls.username)}}</mat-error>
    </mat-form-field>
    <mat-form-field  class="input">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email"  placeholder="m.mustermann@impulsreha.de" type="text">
        <mat-error>{{getError(signupForm.controls.email)}}</mat-error>
    </mat-form-field>
    <mat-form-field  class="input">
        <mat-label>Vorname</mat-label>
        <input matInput formControlName="first_name"  placeholder="Max" type="text">
        <mat-error>{{getError(signupForm.controls.first_name)}}</mat-error>
    </mat-form-field>
    <mat-form-field  class="input">
        <mat-label>Nachname</mat-label>
        <input matInput formControlName="last_name"  placeholder="Mustermann" type="text">
        <mat-error>{{getError(signupForm.controls.last_name)}}</mat-error>
    </mat-form-field>
    <mat-form-field  class="passwd input">
        <mat-label>Passwort</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error>{{getError(signupForm.controls.password)}}</mat-error>
    </mat-form-field>
    <mat-form-field  class="passwd input">
        <mat-label>Passwort wiederholen</mat-label>
        <input matInput formControlName="confirmPassword"  type="password">
        <mat-error>{{getError(signupForm.controls.confirmPassword)}}</mat-error>
    </mat-form-field>

    <mat-error *ngIf="signupForm.errors">getError(signupForm)</mat-error>
    <button class="button"  type="submit" mat-button [disabled]="!signupForm.valid"> Sign up </button>
</Form>