<mat-form-field class="filter">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>

@if (auth.TOKEN) {
  <div class="container">
    <button mat-button class="newEvent" routerLink="/event/new"> Neuer Kurs </button>
  </div>
  
}

<table mat-table #table [dataSource]="dataSource" matSort cdkDropList [trackBy]="trackById">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> 
        Name
      </th>
      <td mat-cell *matCellDef="let element" > 
        <div class="bttn " (click)="onSelectClick(element)">
          {{element.title}}
        </div>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="host">
      <th mat-header-cell *matHeaderCellDef> 
        Anbieter
      </th>
      <td mat-cell *matCellDef="let element" > 
        <div class="bttn " (click)="onSelectClick(element)">
          {{element.host.first_name}} {{element.host.last_name}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> 
        ID
      </th>
      <td mat-cell *matCellDef="let element" > 
        <div class="bttn " (click)="onSelectClick(element)">
          {{element.id}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> 
        Beschreibung
      </th>
      <td mat-cell *matCellDef="let element" > 
        <div class="bttn " (click)="onSelectClick(element)">
          {{element.description_short}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="atendees">
      <th mat-header-cell *matHeaderCellDef> 
        Teilnehmer
      </th>
      <td mat-cell *matCellDef="let element" > 
        <div class="bttn " (click)="onSelectClick(element)">
          {{ attending(element)}} / {{element.attendees.length}}
        </div>
      </td>
    </ng-container>
    
    <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->
    <!-- <mat-header-cell>
        <div class="bttn ">
          Neuer {{type}}    
        </div>
      </mat-header-cell> -->
    <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns">

    </tr>
      <tr mat-row (click)="onSelectClick(row)" class="CourseBttn" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>